html { /* TODO - remove this */
  /*background-color: wheat;*/
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.daddy {
  display: flex;
  justify-content: center;
  /*background-color: red;*/
  min-height: 800px;
  align-items: center;
}

/*
.daddy > div {
  flex: 1;
}
*/

.lefty {
  background-color: transparent;
}

.righty {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  /*background-color: skyblue;*/
  color: black;
}


.spacer {
  clear: both;
}

/* LevelMap CSS */
.t0, .t1, .t2, .t3, .t4, .t5, .t8, .t9, .t8-up, .t8-left, .t8-down, .t8-right, .t9-up, .t9-left, .t9-down, .t9-right {
  /* border: 1px solid black; */
  width: 32px;
  height: 32px;
  display: block;
  float: left;
}

.t0, .t1, .t2, .t3, .t4 {
  background-image: url(assets/sprite.png);
}

.t0 {
  background-color: greenyellow;
  background-position: -128px 0px;
}

.t1 {
  background-color: grey;
  background-position: -32px -32px;
}

.t2 {
  background-color: gold;
  background-position: -96px -32px;
}

.t3 {
  background-color: peru;
  background-position: 0px -32px;
}

.t4 {
  background-color: khaki;
  background-position: -64px -32px;
}

.t5 {
  background-color: transparent;
}

/* the remaining representations need to be separated and consider all combinations */
.t8 {
  background-color: tomato;
}

.t9 {
  background-color: blueviolet;
}

/**/
.t8-up {
  background-image: url(assets/sprite.png), url(assets/sprite.png);
  background-position: 0px 0px, -96px -32px;
}
.t8-left {
  background-image: url(assets/sprite.png), url(assets/sprite.png);
  background-position: -64px 0px, -96px -32px;
}
.t8-down {
  background-image: url(assets/sprite.png), url(assets/sprite.png);
  background-position: -96px 0px, -96px -32px;
}
.t8-right {
  background-image: url(assets/sprite.png), url(assets/sprite.png);
  background-position: -32px 0px, -96px -32px;
}

.t9-up {
  background-image: url(assets/sprite.png), url(assets/sprite.png);
  background-position: 0px 0px, -128px 0px;
}
.t9-left {
  background-image: url(assets/sprite.png), url(assets/sprite.png);
  background-position: -64px 0px, -128px 0px;
}
.t9-down {
  background-image: url(assets/sprite.png), url(assets/sprite.png);
  background-position: -96px 0px, -128px 0px;
}
.t9-right {
  background-image: url(assets/sprite.png), url(assets/sprite.png);
  background-position: -32px 0px, -128px 0px;
}

.l {
  clear: left;
}

/* Keypad CSS */
.keypad {
  width: fit-content;
  margin: 16px auto;
  padding: 3px;
  border: 1px solid gray;
}

.key {
  border: 1px solid transparent;
  float: left;
  margin: 3px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowUpKey, .arrowLeftKey, .arrowDownKey, .arrowRightKey {
  border: 1px solid gray;
  text-align: center;
  vertical-align: middle  ;
}

.arrowLeftKey {
  clear: left;
}

.lit {
  background-color: yellowgreen;
}

.scoreboard {
  border: 1px solid gray;
  padding: 0px 8px;
}

.scoreboard dd  {
  margin: 0px;
  min-height: 28px;
}

.scoreboard h2 {
  margin: 8px 0px;
}

.last-moves {
  display: flex;
}

/* Key log component */
.miniKey {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  box-sizing: border-box;
}

.miniKey span {
  text-align: center;
  margin-bottom: 3px;
}